body {
    background-color: #131314;    
    color: #E3E3E3; 
}

h1 {
    margin: 10px;
    margin-top: 15px;
    text-align: center;
}

span {
    margin: 10px;
}

a {
    font-size: 30px;
    margin: 5px;
    display: inline-block;
    color: #E3E3E3;
}
 
label {
    display: block;
    font-size: 25px;
    margin: 5px;
}

input {
    color: #f9f7f7;
    background-color: #1E1F20;
    border-color: #8d8f91;
    font-size: 25px;
    margin: 5px;
    border-radius: 5px;
    max-width: 400px;
    width: 95%;
    box-sizing: border-box; /* ✅ Fixes iPhone overflow issue */
}

button {
    background-color: #8d8f91;
    color: #1E1F20;
    font-weight: bold;
    font-size: 25px;
    margin: 10px 5px 5px 5px;
    padding: 15px;
    border-radius: 10px;
    width: 96%;
}

select {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 2px;
}
  
select option {
    background-color: #333;
    color: white;
}

select:hover {
    background-color: #222;
}

.container {
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}